.main{
    display: grid;
    width:400px;
    margin: auto;
    grid-template-columns: 2fr 2fr 2fr 1.6fr 2.2fr 1.6fr;
    grid-template-rows: 40px 40px 40px 40px;
}

.cell {
    padding-top: 14px;
    font-size: 8pt;
}

.full-width {
  grid-column: 1 / span 6;
  text-align: center;
  padding: 0;
  font-weight: bold;
}

.half-width {
    grid-column-start: 4;
    grid-column-end: 7;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.teal {
    background-color: teal;
}

.blue {
    background-color: blue
}

.navy {
    background-color: navy;
}

.lime {
    background-color: lime;
}

.white {
    background-color: white;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.olive {
    background-color: olive;
}

.red {
    background-color: red;
}

.gray {
    background-color: gray;
}

.fuchsia {
    background-color: fuchsia;
}